.left{height: 100%;}
.left-menu{background-color: #8f3e92; height: 100% !important;}
.left-menu li {background-color: #8f3e92 !important; color: white !important;padding: 12px 15px; background-color: #efefe9; cursor: pointer;font-size: 14px;}
.left-menu i{color: #999999; margin-right: 15px}
.left-menu span {color: #999}
.left-menu a {color:white !important; text-decoration: none !important}
.left-menu a:hover { color: #d3d1d1 !important; }

.list-group-item{ border: 0px; z-index: 0;  }
.list-group-item.active{ background-color: #7ec242 !important;  z-index: 0;}
.list-group-item:first-child{border-radius: 0}