<agm-map
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="7"
      >
    <agm-marker
        *ngFor="let marker of geolocations"
        [latitude]="marker.latitude"
        [longitude]="marker.longitude"
        [markerDraggable]="true"
        (markerClick)="selectedMarkerDristrict($event)"
    >
    </agm-marker>
</agm-map>

<p *ngIf="geolocation" style="font-size: 30px; text-align: center; margin-top: 20px; margin-left: 180px;">
    District : {{geolocation.name}}
</p>